* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
--primary-color: #ffff8800;
--secondary-color: #00498d;
--dark-primary-color: #e07800;
--dark-secondary-color: #00315f;
--light-color: #e9e9e9;
--dark-color: #2c2c2c;
}

body {
font-family: "arial";
color: var(--dark-color);
}

a {
text-decoration: none;
color: unset;
}

button {
background-color: transparent;
border: none;
cursor: pointer;
}

.nav {
background-color: #fff;
padding: 1rem;
position: sticky;
top: 0;
left: 0;
box-shadow: 0px 0px 10px #ebebeb;
z-index: 1;
}

.nav .inner-content {

display: flex;
align-items: center;
justify-content: space-between;
max-width: 1300px;
margin-inline: auto;
}

.logo {
color: var(--dark-secondary-color);
}

.logo span{
color: var(--dark-primary-color);
font-size: 3rem;
}

nav ul {

display: flex;
list-style: none;
align-items: center;
gap: 1rem;

}

.navs-icon-contanier {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navs-icon-contanier svg {
width: 1.5rem;
height: 1.5rem;
}

.navs-icon-contanier .shopping-cart {
position: relative;
}

.navs-icon-contanier .shopping-cart .products-count {

content: "";
position: absolute;
background-color: red;
width: 0.8rem;
height: 0.8rem;
bottom: -8px;
left: -8px;
border-radius: 50%;
color: #fff;
padding: 0.7rem;
font-size: 0.8rem;
display: flex;
align-items: center;
justify-content: center;
}

.search-input-container {
display: flex;
align-items: center;
gap: 0.25rem;
border-bottom: 1px solid var(--dark-color);
padding: 0.5rem;
margin-right: 1rem;
}

.search-input-container input {
border: none;
outline: none;
}

.search-input-container svg {
height: 1rem;
color: #808080;
}

nav ul li:hover {
transform: translateY(-4px);
transition: all 0.2s;
font-weight: bold;
}

.menu-button {
display: none;
}
